<h2>The <span class="hot-cinnamon">Collection</span>'s edition notice.</h2>
<hr>
<div class="row">
    <div class="col-md-4">
        Work in Progress hosted by University College Cork, unpublished (2012-2014).
    </div>
    <div class="col-md-4">
        Boole Papers (1832-1964) are in the public domain. Finding Aid authored/compiled by Carol Quinn -- archivist -- (1990), last updated (Jan 2014). Digital Surrogate -- facsimiles/scans of papers, copyright University College Cork (20??). Electronic Finding Aid authored/compiled by Anthony -- phd researcher -- (2013-2014).
    </div>
    <div class="col-md-4">
        QR Code, FA id, EAD id, ISBN ...
    </div>
</div>
<hr>
<div class="row">
    <div class="col-md-4">
        <p><span>Back to the <span><span class="glyphicon glyphicon glyphicon-link" alt="Back to Welcome"></span> <%= link_to 'Welcome', welcome_path(whence: params[:whence]) %></p>
    </div>
    <div class="col-md-4">
        <p><span>Continue on to <span><span class="glyphicon glyphicon glyphicon-link" alt="Continue on to Browse"></span> <%= link_to 'Browse', browse_path(whence: params[:whence]) %></p>
    </div>
    <div class="col-md-4">
    </div>
</div>
