<p>
  <%= f.label :bytes, 'Note text' %><br>
  <%= f.text_area :bytes %>
</p>
<p>
  <%= f.submit %>
  <%= render partial: "notes/member_edit", locals: {member: (Member.find note.member_id)} unless params[:action] == 'new' %>
</p>
