
    <span><%=raw (member == current_member) ? '<span class="space-cadet">✓</span> You created this, you can edit or delete it.' : '<span class="hot-cinnamon">✕</span> You did not create this, you may neither modify nor delete it.' %></span>
