<h3>all of the notes with text</h3>
<hr>
<!--
    at the moment if a note has neither scan_id nor item_id set
    eventually add collection_id
-->
<div>Compose a new (collection-level) <%= link_to "note", new_note_path %></li>
<%= render "actual_index" %>
