<div id="content" class=".clearfix">
    <div class="row">
        <div class="col-md-6" style="border-right:1px">
            <ul class="list-group" style="padding-top: 10px">
                <%
                    col1 = heading_chunk[0,heading_chunk.length/2]
                    col2 = heading_chunk[heading_chunk.length/2,heading_chunk.length]

                    col2.each do |heading|
                %>
                <%= render partial: heading, layout: "headings/heading_group_layout" %>
                <%
                    end
                %>
            </ul>
        </div>
        <div class="col-md-6" style="border-right:1px">
            <ul class="list-group" style="padding-top: 10px">
                <%
                    col1.each do |heading|
                %>
                <%= render partial: heading, layout: "headings/heading_group_layout" %>
                <%
                    end
                %>
            </ul>
        </div>
    </div>
</div>
