
<div id="heading-dropdown" class="dropdown dropdown-tip">
    <ul class="dropdown-menu">
        <!-- <li><label><input type="radio" name="radio-group" checked="checked"> Radio 0</label></li> -->
        <li><label><input type="radio" name="radio-group"> Person</label></li>
        <li><label><input type="radio" name="radio-group"> Place</label></li>
        <li><label><input type="radio" name="radio-group"> Event</label></li>
        <li><label><input type="radio" name="radio-group"> Concept</label></li>
        <!-- <li><label><input type="radio" name="radio-group"> Activity</label></li> -->
    </ul>
</div>
