<%
    if Scan::VIRGIN == scan.state
        path = new_transcription_path(scan_id: scan.id, aspect: params['aspect'], q: params['q'], whence: params['whence'])
    elsif Scan::COMPLETED == scan.state
        path = transcription_path(id: scan.id, aspect: params['aspect'], q: params['q'], whence: params['whence'])
    else
        path = edit_transcription_path(id: scan.id, aspect: params['aspect'], q: params['q'], whence: params['whence'])
    end
%>
<a href="<%= path %>" rel="tooltip" data-original-title="<%= scan.stringified %>">
    <%= yield %>
</a>
