<h2>Welcome to the <span class="hot-cinnamon">George Boole Collection</span> software transcription desk</h2>
<div class="row">
    <div class="col-md-4" style="text-align:justify; text-justify:inter-word;"><h4>The papers preserved here were collected by Boole’s sister Maryann after his death, to provide the sourcework for a proposed biography by her. They were subsequently purchased at auction by UCC. You can help us bring them to life.</h4></div>
    <div class="col-md-4"></div>
    <div class="col-md-4"></div>
</div>
<img style="margin-bottom: 15px;" src="/images/archive-service-boole.jpg" alt="archive service boole logo" />
