<div class="preview-container">
    <div class="inner-container" stlye="width: <%= ((@items.length)*(100+33)) %>px">
        <%= render partial: "item", collection: @items, layout: "lazy_layout", locals: {thumbnail: true, lazy_load: true} %>
    </div>
</div>
