<p>
<strong>Finding Aid Sequence Number:</strong>
<%= @item.fa_seq %>
</p>

<p>
<strong>Finding Aid Hierarchy:</strong>
<%= @item.fa_structure %>
</p>

<p>
<strong>Number of Scans:</strong>
<%= @item.scans.length %>
</p>
<%
    if @item.scans.length
%>
    <p>
    <strong>First Scan:</strong>
    <ul>
        <%= render partial: @item, locals: {thumbnail: true} %>
    </ul>
    </p>
<%
    end
%>

