/*
 * swatches, images, design
 * inspired by the arts n crafts ethos
 * 
 * 4 principles
 */

/*
 * mustard: #f3da80
 * light sunflower: #f9ebcc 
 * +
 * http://www.colourlovers.com/palette/3154731/Boole_is_Coole
 * #081A31
 * #FFEEEE
 * #1D2951
 * #E4652B
 * #BB6528
 *
 * http://www.colourlovers.com/palette/189153/JULY_19_2006
 * #1D2951 was #1B2C64
 * #BB6528 was #B86127
 */

.deep-space-boole {
    color: #081A31;
}

.deep-space-boole-bg {
    background-color: #081A31;
}

.pinky-white {
    color: #FFEEEE;
}

.pinky-white-bg {
    background-color: #FFEEEE;
}

.space-cadet {
    color: #1D2951;
}

.space-cadet-bg {
    background-color: #1D2951;
}

.hot-cinnamon {
    color: #E4652B !important;
}

.hot-cinnamon-bg {
    background-color: #E4652B;
}

.ruddy-brown {
    color: #BB6528;
}

.ruddy-brown-bg {
    background-color: #BB6528;
}

body {
    /* William Morris, I <3 U */
    background-image: url('/images/arts_n_crafts/sunflower.jpg');
    background-repeat: repeat;
}

/* swiped from http://learn.shayhowe.com/html-css/backgrounds-gradients */
#the-container {
    opacity: 1.0; /* be v cool if it faded in */
    filter:alpha(opacity=100);
    /* background-color: #f9ebcc; */
    background: url('/images/texture.jpg');
    margin-top: 22px;
}

div.rounded {
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    border-radius: 6px;
}

div.shadow {
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1),inset 50px 0 0 rgba(0,0,0,0.05),0 1px 0 #fff;
    -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1),inset 50px 0 0 rgba(0,0,0,0.05),0 1px 0 #fff;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.1),inset 50px 0 0 rgba(0,0,0,0.05),0 1px 0 #fff;
}

div.darken {
    background: rgba(0,0,0,0.07);
}

.items_preview_container {
    width: 798px; /* (100+33) * 6 ... hullo, CONSTs anyone? */
    white-space: nowrap;
    overflow-x: auto;
}

.inner_container {
}

a.brand-active {
    background-color: #e7e7e7;
}

/*
a {
    color: #1D2951 !important;
    text-decoration: none; border-bottom:1px dotted;
}
*/

.img .overlay {
    overflow: hidden;
    position: absolute;
    top: 0px;
    right: 0px;
    height: 20px;
    line-height: 20px;
    padding: 0px 0px 0px 0px;
    display: block;
    color: rgb(255, 255, 255);
    background-position: 10px 6px;
    background-color: rgba(0, 0, 0, 0.6);
    /*
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAARxJREFUeNpskM9KhFAUh6/agIXF2DCbKewFXLUIXEi08h1y1U5wLT6C4AvoWvAF2rdzIQRCGzVIV0EMOKMhYTCW/S7ciRYd+C7f4Zz775A4jgllGIa7IAhUQsjJXwc8rR+YpkloTNN0kWXZB3QmiuKvgxI9A9f3/bUkSTfkn/B9v3Nd9x76ykdRVDuO80gLlmUtdV2f7z0MwyX0HIgcliOa4OpbWZZPBUFYN00zgy+6rntB7QHUfNu2V7SJngLf0ibmG8/zeOgn+BYURfmq6/pYVdWFpmmrPM93hmGM1JMkGbBhjcYtb9v2pixLmpA0TceiKN73XlXVG3QDRvpGns3rEpyBChyCFXgCz2DHsUkIYM4+1rOcesdy8iPAAGt4gnafIB2qAAAAAElFTkSuQmCC");
    */
}

