<ol class="breadcrumb" style="float: left">
    <% 
        logger.debug ">>> " + params.pretty_inspect
        top = params['action'].capitalize
        if top == "Slice"
            top = "Transcribe"
            path = transcribe_path
        end
    %>
    <% if params['controller'] == 'pages' %>
        <li class="active"><%= top %></li>
    <% else %>
        <li><%= link_to top, path %></li>
    <% end %>
    <%= yield :breadcrumb -%> <!-- hurrah for this pattern -->
</ol>
