<% if flash %>
    <!-- shout out http://stackoverflow.com/questions/17931534/how-to-define-flash-notifications-with-twitter-bootstrap-rails-gem -->
    <% flash.each do |name, msg| -%>
        <% if msg.is_a?(String) %>
            <div class="alert alert-<%= name == :notice ? "success" : "danger" %>">
                <a class="close" data-dismiss="alert">&#215;</a>
                <%= content_tag :p, msg, :id => "flash_#{name}" %>
            </div>
        <% end %>
    <% end %>
<% end -%>
